.App {
  text-align: center;
}

@font-face {
  font-family: cybero;
  src: url(./assets/fonts/cybero/cybero.ttf);
	font-weight: heavy;

}
h1{
  font-family: cybero;
	font-size: 2.5em;
}
.Card.Title{
	font
}

.App-logo {
  height: 100px;
  pointer-events: none;
}

.App-Title {
	font-size: 2em;
	font-weight: bold;
	font-family: ''

}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
		height: 150PX;
		display: flex;
		padding-bottom: 100px;
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.App-header {
  background-color: #282c34;
	min-height:100vh;
	padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Card.Title{
	color: white;
}

.LinkerContainer{
	align-items: center;
	background-color:#282c34;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Link{
	color: rgba(244,122,91);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	font-size: 30px;
	font-weight: bolder;
}
